body{
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
a {
  color: seashell;
}
h2{
  margin:15px;
  padding: 0;
}
h3{
  margin: 0;
  padding: 0;
}
h4{
  margin:15px;
  padding: 0;
}
header{
  width: 100%;
  height: 69px;
  display:flex;
  align-items: center;
  border-bottom: 1px solid seashell;
}
nav{
  flex-shrink: 0;
}
header nav span{
  text-decoration: underline;
  margin: 0 10px;
}
footer{
  height: 200px;
  border: 0px solid #fff;
  padding: 20px 0 0 0;
  border: 0px solid seashell;
}
.logo{
  margin-left: 10px;
  flex-grow: 2;
}
.logo img{
  width: auto;
  max-height:50px;
}
#main_content{
  width:100%;
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#hero_img{
  background-image: url(../img/img-mission-background.jpg);
  background-size: cover;
  width: 1200px;
  height: 700px;
  display: flex;
  align-items: center;
}
#teaofthemonth{
  width: 1000px;
  border: 0px solid #fff;
  margin: 30px 0;
}
#menulist{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#locations{
  background-image: url(../img/img-locations-background.jpg);
  background-size: cover;
  width: 1200px;
  height: 500px;
  border: 0px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#shoplist{
  display: flex;
  justify-content: center;
}
#copy{
  width: inherit;
  border: 0px solid #fff;
  margin-left: 20px;
  text-align: left;
}
.menu {
  margin: 10px;
}
.title{
  width: inherit;
  text-align: center;
}
.backblack{
  background-color: #000;
}
.shop{
  background-color: #000;
  width: 300px;
  margin:0;
  padding: 20px 0 0 0;
  opacity: 1;
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
}
